# public, then protected, then private
# within each:
#  - type definitions
#  - static constants
#  - construction/destruction
#  - operators
#  - begin/end/cbegin/cend
#  - class methods
#  - instance methods
#  - abstract/virtual instance methods
#  - overrides with one comment indicating the interface, grouped by interface
#  - instance variables


# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language:                                                   Cpp
Standard:                                                   Latest
AccessModifierOffset:                                       -2
AlignAfterOpenBracket:                                      AlwaysBreak
AlignArrayOfStructures:                                     None
AlignConsecutiveAssignments:                                None
AlignConsecutiveBitFields:                                  None
AlignConsecutiveDeclarations:                               None
AlignConsecutiveMacros:                                     AcrossEmptyLinesAndComments
AlignEscapedNewlines:                                       Right
AlignOperands:                                              DontAlign
AlignTrailingComments:                                      true
AllowAllArgumentsOnNextLine:                                true
AllowAllParametersOfDeclarationOnNextLine:                  true
AllowShortBlocksOnASingleLine:                              Empty
AllowShortCaseLabelsOnASingleLine:                          false
AllowShortEnumsOnASingleLine:                               false
AllowShortFunctionsOnASingleLine:                           Empty
AllowShortIfStatementsOnASingleLine:                        WithoutElse
AllowShortLambdasOnASingleLine:                             Empty
AllowShortLoopsOnASingleLine:                               false
AlwaysBreakAfterReturnType:                                 None
AlwaysBreakBeforeMultilineStrings:                          true
AlwaysBreakTemplateDeclarations:                            No
BinPackArguments:                                           false
BinPackParameters:                                          false
BitFieldColonSpacing:                                       Both
BreakBeforeBraces:                                          Custom
BraceWrapping:
    AfterCaseLabel:                                         true
    AfterClass:                                             true
    AfterControlStatement:                                  Always
    AfterEnum:                                              true
    AfterFunction:                                          true
    AfterNamespace:                                         true
    AfterStruct:                                            true
    AfterUnion:                                             true
    AfterExternBlock:                                       true
    BeforeCatch:                                            true
    BeforeElse:                                             true
    BeforeLambdaBody:                                       true
    BeforeWhile:                                            true
    IndentBraces:                                           false
    SplitEmptyFunction:                                     false
    SplitEmptyRecord:                                       false
    SplitEmptyNamespace:                                    false
# BreakAfterAttributes:                                       Always
BreakBeforeBinaryOperators:                                 None
BreakBeforeConceptDeclarations:                             Allowed
# BreakBeforeInlineASMColon:                                  Always
BreakBeforeTernaryOperators:                                true
BreakConstructorInitializers:                               BeforeColon
BreakInheritanceList:                                       BeforeColon
BreakStringLiterals:                                        false
ColumnLimit:                                                100
CompactNamespaces:                                          false
ConstructorInitializerIndentWidth:                          4
ContinuationIndentWidth:                                    4
Cpp11BracedListStyle:                                       true
DerivePointerAlignment:                                     false
EmptyLineAfterAccessModifier:                               Always
EmptyLineBeforeAccessModifier:                              Always
FixNamespaceComments:                                       true
IncludeBlocks:                                              Regroup
IncludeCategories:
    - Regex:                                                '".*\.generated\.h"'
      Priority:                                             100
    - Regex:                                                '<[^/]+\.h>'
      Priority:                                             1
    - Regex:                                                '<[^/]+>'
      Priority:                                             2
    - Regex:                                                '<.*>'
      Priority:                                             3
    - Regex:                                                '"[^/]+"'
      Priority:                                             4
IncludeIsMainRegex:                                         '(Test|Internal)?$'
IncludeIsMainSourceRegex:                                   '\.h$'
IndentAccessModifiers:                                      false
IndentCaseBlocks:                                           false
IndentCaseLabels:                                           true
IndentExternBlock:                                          AfterExternBlock
IndentGotoLabels:                                           true
IndentPPDirectives:                                         None
IndentRequiresClause:                                       true
IndentWidth:                                                2
IndentWrappedFunctionNames:                                 true
InsertBraces:                                               false
# InsertNewlineAtEOF:                                         true
InsertTrailingCommas:                                       Wrapped
# KeepEmptyLinesAtEOF:                                        false
KeepEmptyLinesAtTheStartOfBlocks:                           false
LambdaBodyIndentation:                                      Signature
MaxEmptyLinesToKeep:                                        1
NamespaceIndentation:                                       All
PackConstructorInitializers:                                NextLine
PenaltyBreakBeforeFirstCallParameter:                       1
PenaltyBreakTemplateDeclaration:                            500
PenaltyBreakOpenParenthesis:                                1
PenaltyExcessCharacter:                                     1000
PenaltyReturnTypeOnItsOwnLine:                              200
PointerAlignment:                                           Left
QualifierAlignment:                                         Leave
# QualifierOrder:                                             ['constexpr', 'friend', 'static', 'inline', 'const', 'volatile', 'restrict', 'type']
ReferenceAlignment:                                         Pointer
ReflowComments:                                             true
# RemoveParentheses:                                          Leave
# RemoveSemicolon:                                            false
RequiresClausePosition:                                     OwnLine
# RequiresExpressionIndentation:                              OuterScope
SeparateDefinitionBlocks:                                   Always
ShortNamespaceLines:                                        0
SortIncludes:                                               CaseInsensitive
SortUsingDeclarations:                                      true
SpaceAfterCStyleCast:                                       false
SpaceAfterLogicalNot:                                       false
SpaceAfterTemplateKeyword:                                  true
SpaceAroundPointerQualifiers:                               Default
SpaceBeforeAssignmentOperators:                             true
SpaceBeforeCaseColon:                                       false
SpaceBeforeCpp11BracedList:                                 false
SpaceBeforeCtorInitializerColon:                            true
SpaceBeforeInheritanceColon:                                true
SpaceBeforeParens:                                          Custom
SpaceBeforeParensOptions:
    AfterControlStatements:                                 true
    AfterForeachMacros:                                     false
    AfterFunctionDeclarationName:                           false
    AfterFunctionDefinitionName:                            false
    AfterIfMacros:                                          false
    AfterOverloadedOperator:                                false
    AfterRequiresInClause:                                  true
    AfterRequiresInExpression:                              true
    BeforeNonEmptyParentheses:                              false
SpaceBeforeRangeBasedForLoopColon:                          true
SpaceBeforeSquareBrackets:                                  false
SpaceInEmptyBlock:                                          false
SpacesBeforeTrailingComments:                               1
SpacesInAngles:                                             false
SpacesInContainerLiterals:                                  false
SpacesInLineCommentPrefix:
    Minimum:                                                1
    Maximum:                                                1
# SpacesInParens:                                             Never
SpacesInParentheses:                                        false
SpacesInSquareBrackets:                                     false
UseTab:                                                     Never
